<footer>
    <div class="footer-nav">
        <a routerLink="/user/home" [routerLinkActive]="'active'">HOME</a>
        <a routerLink="/user/property" [routerLinkActive]="'active'">PROPERTY</a>
        <a routerLink="/user/tour" [routerLinkActive]="'active'">TOUR</a>
        <a routerLink="/user/contact" [routerLinkActive]="'active'">CONTACT</a>
    </div>

    <div class="social-links">
        <a href="https://wa.me/254722822655" target="_blank">
            <i class="fab fa-whatsapp"></i> 
        </a>

        <a href="https://www.instagram.com/shikalandproperties/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>

        <a href="https://www.tiktok.com/@shika.land" target="_blank">
            <i class="fab fa-tiktok"></i>
        </a>

        <a href="https://web.facebook.com/people/Shika-Land/61560332667500/#" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
        
    </div>
    <p>&copy; 2025 SHIKA LAND. All rights reserved.</p>
</footer>
