<div *ngIf="tours.length > 0">
  <div *ngFor="let tour of tours">
    <div>
      <h3>{{ tour.property.location }} ({{ tour.property.price }})</h3>
      <p>{{ tour.property.description }}</p>
      <p>Date: {{ tour.tourDate }} | Time: {{ tour.tourTime }} | Status: {{ tour.status }}</p>
      <button (click)="editTour(tour)">Edit</button>
    </div>
  </div>

  <div *ngIf="selectedTour">
    <h3>Edit Tour</h3>
    <label for="tourDate">Date:</label>
    <input type="date" id="tourDate" [(ngModel)]="selectedDate" [min]="minDate" />

    <label for="tourTime">Time:</label>
    <input type="time" id="tourTime" [(ngModel)]="selectedTime" [min]="timeMin" [max]="timeMax" />

    <button (click)="saveChanges()">Save Changes</button>
  </div>
</div>
