<div class="auth-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form">
    <h2>Login</h2>

    <div *ngIf="alertMessage" class="alert" [ngClass]="'alert-' + alertType" role="alert">
      {{ alertMessage }}
    </div>

    <input 
      formControlName="email" 
      placeholder="Email" 
      type="email" 
      class="form-control mb-2" 
    />

    <div class="password-wrapper">
      <input 
        formControlName="password" 
        [type]="passwordVisible ? 'text' : 'password'" 
        placeholder="Password" 
        class="form-control"
      />
      <i 
        class="fa-solid fa-eye toggle-password" 
        (click)="togglePasswordVisibility()">
      </i>
    </div>

    <button type="submit" class="btn btn-primary w-100 mt-3">
      Login
    </button>

    <p class="switch-text mt-3">
      Don't have an account?
      <a routerLink="/register">Create Account</a>
    </p>
  </form>
</div>
