<header class="main-header">
    <div class="logo">
        <a routerLink="/admin">
            <img src="https://scontent-mba2-1.xx.fbcdn.net/v/t39.30808-6/469093192_122153314550344422_2463002906021188320_n.jpg?..." alt="Shika Land">
        </a>
    </div>

    <nav class="desktop-main-menu">
      <ul>
        <li><a routerLink="/admin/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</a></li>
        <li><a routerLink="/admin/property" routerLinkActive="active">PROPERTY</a></li>
        <li><a routerLink="/admin/tour" routerLinkActive="active">TOUR</a></li>
        <li><a routerLink="/admin/contact" routerLinkActive="active">CONTACT</a></li>
      </ul>
    </nav>

    <div class="hamburger" (click)="toggleMobileMenu()">
      <div [class.bar1]="isMobileMenuOpen"></div>
      <div [class.bar2]="isMobileMenuOpen"></div>
      <div [class.bar3]="isMobileMenuOpen"></div>
    </div>

    <nav class="mobile-main-menu" *ngIf="isMobileMenuOpen">
      <ul>
        <li><a routerLink="/admin/home" (click)="closeMobileMenu()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</a></li>
        <li><a routerLink="/admin/property" (click)="closeMobileMenu()" routerLinkActive="active">PROPERTY</a></li>
        <li><a routerLink="/admin/tour" (click)="closeMobileMenu()" routerLinkActive="active">TOUR</a></li>
        <li><a routerLink="/admin/contact" (click)="closeMobileMenu()" routerLinkActive="active">CONTACT</a></li>
      </ul>
    </nav>
</header>
  