<div class="auth-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="auth-form">
    <h2>Register</h2>

    <div *ngIf="alertMessage" class="alert" [ngClass]="'alert-' + alertType" role="alert">
      {{ alertMessage }}
    </div>

    <input formControlName="fullName" placeholder="Full Name" class="form-control mb-2" />
    <input formControlName="phoneNumber" placeholder="Phone Number" class="form-control mb-2" />
    <input formControlName="email" placeholder="Email" type="email" class="form-control mb-2" />

    <div class="password-wrapper">
      <input
        formControlName="password"
        [type]="passwordVisible ? 'text' : 'password'"
        placeholder="Password"
        class="form-control"
      />
      <i
        class="fa-solid fa-eye toggle-password"
        (click)="togglePasswordVisibility('password')">
      </i>
    </div>

    <div class="password-wrapper">
      <input
        formControlName="confirmPassword"
        [type]="confirmPasswordVisible ? 'text' : 'password'"
        placeholder="Confirm Password"
        class="form-control"
      />
      <i
        class="fa-solid fa-eye toggle-password"
        (click)="togglePasswordVisibility('confirmPassword')">
      </i>
    </div>

    <button type="submit" class="btn btn-primary w-100 mt-3">Register</button>

    <p class="switch-text mt-3">
      Already have an account?
      <a routerLink="/auth/login">Already Have an Account</a>
    </p>
  </form>
</div>
